@import "icons/*.png";

.logo{
	display: block;
	width: 200px;
	height: 100px;
	background-repeat: no-repeat;
	background-image: inline-image('logo.png');
}

.main {
	@include icons-sprite(rss);
	@include media-wide-screens { 
		float:left;
		width: 66%;
	}
}

.sidebar {
	@include icons-sprite(atom);
	@include media-wide-screens {
		float: left;
		width: 33%;
	}
}
	 


	  
