

.main, .sidebar {
	background: #ccc;
	@include media-wide-screens { 
		float:left;
	}
}


.main {
	@include media-wide-screens { 
		width: 66%;
	}
}

.sidebar {
	@include media-wide-screens {
		width: 33%;
	}
}
	


