@{
    ViewBag.Title = "Start";
}

<div role="main" class="main">
    Main content. This marks the content that is directly related to or expands upon the central topic of the document. Within any document or application, the author SHOULD mark no more than one element with the main role.
    <div role="form">
        <form>
            A form.
        </form>
    </div>
</div>

<div role="complementary" class="sidebar">
    Sidebar. The content should be relevant to the main content; if it is completely separable, a more general role should be used instead.
</div>
